<h1> About</h1>
<p>
	<%= link_to "HealthTexts.com", "http://HealthTexts.com" %> was designed to bring you the latest health information straight to you cell phone. Your times matters and we are here to help!

</p>

