<div class='container'>
  <h1>About HealthTexts</h1>
  <div style="max-width: 600px">
    <p>HealthTexts.com was built as a communications platform to empower you to take control of your health. Whether you are simply looking to keep up with latest information around a diagnosed condition or you just desire to keep up with nutritional information, HealthTexts.com will send you personalized and curated text messages.</p>
    <p>Additionally, we allow Doctors to better keep in touch with patients by sending them office announcements, schedule appointments, or even ask a question. Our platform allows for a personal touch and will save time and money.</p>
    <p>Whether you need to communicate with 10 people or several hundred, HealthTexts.com has you covered. Keep friends and family up to date with the latest information about your condition with a blast text message to those on your list via our easy to use system.</p>
  </div>
</div>