<div class='container'>
  <h1>Contact Us</h1>

  <address>
    <strong>HealthTexts.com, Inc.</strong><br>
    3401 Washington Road<br>
    Augusta, GA 30907<br>
    <abbr title="Phone">P:</abbr> (706) 860-1774
  </address>

  <address>
    <strong>Media</strong><br>
    <a href="mailto:#">Media@HealthTexts.com</a>
  </address>
</div>