<div class="hero-unit">
  <div class="container">
    <h1>Welcome to HealthTexts.com</h1>
    <p>
    	<%= link_to "HealthTexts.com", "http://HealthTexts.com"%> Will make it's debut on September 17th 2013 at the Georgia Regents University Innovation Summit!
    </p>
    <p><a class="btn btn-primary btn-lg">Learn more!</a></p>
  </div>
</div>














