/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require bootstrap
 *= require styles
 *= require pages
 *= require_self
*/

form#new_user {
  .checkbox {
    label {
      color: #fff;
    }
  }
}

.jumbotron {
  background: url('http://zowchow.com/files/2013/01/digital-doctor.jpg') no-repeat left center;
  height: 350px;
  margin-bottom: 100px;
  #words {
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
  	background: white;
    box-shadow: 0px 2px 3px #000;
  	color: #333;
    margin-top: 160px;
    padding: 10px 30px 20px 30px;
  }
}