<div class="footer"> 
	<small>
      <%= link_to "HealthTexts.com", "http://HealthTexts.com"%> 
		Made with Love in Augusta, Georgia by: <%= link_to "Joshua Bolin", "http://JoshuaBol.in"%> 
	</small>
</div>