<div class="footer"> 
	<address>
  <strong>HealthTexts.com, Inc.</strong><br>
  3401 Washington Road<br>
  Augusta, GA 30907<br>
  <abbr title="Phone">P:</abbr> (706) 860-1774
</address>

<address class= 'pull-right'>
  <strong>Media</strong><br>
  <a href="mailto:#">Media@HealthTexts.com</a>
</address>
	<small>
      <%= link_to "HealthTexts.com", "http://HealthTexts.com"%> 
		Made with Love in Augusta, Georgia by: <%= link_to "Joshua Bolin", "http://JoshuaBol.in"%> 
	</small>
</div>